#endgame-container-background {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  background-color: rgb(0, 0, 0, 0.3);
  z-index: 999;


#endgame-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(250, 231, 122);
  //visibility: hidden;

  #endgame-message {
    text-align: center;
    width: 100%;
    color: $background-color;
  }

  #endgame-button-container {
    display: flex;
    width: 70%;
    gap: 5px;

    #endgame-next-game,
    #replay-moves {
      cursor: pointer;
      padding: 5px;
    }

    #endgame-next-game {
      width: 100%;
      background-color: $next-game;

      #endgame-next-game-icon {
        transform: scale(1.5);
      }
    }

    #endgame-next-game:hover > #endgame-next-game-icon {
      transform: scale(2);
    }

    #replay-moves {
      width: 50%;
      background-color: #beb9f3;
    }

    #replay-moves:hover > #replay-moves-icon {
      transform: scale(1.3);
    }
  }
}
}
