
#game-buttons {
    display: grid;
    height: 40px;
    width: $board * 0.4;
    gap: 10px;
    margin-top: 10px;
    grid-template-areas: 
    'previous next'
    'new-game new-game';
  
    #previous-button {
        grid-area: previous;
    }

    #next-button {
        grid-area: next;
    }

    #previous-button,
    #next-button {
      padding: 5px;
      width: 100%;
      cursor: pointer;
    }
  
    #new-game-button {
      padding: 5px;
      cursor: pointer;
      grid-area: new-game;
    }
  }
  