#board-status-div {
  display: flex;
  align-items: baseline;
  gap: 8px;
  visibility: hidden;

  #player-turn-span {
    font-size: larger;
    font-weight: 500;
    text-decoration: underline;
    color: white;
  }
}

#scores-tally {
  display: flex;
  gap: 40px;
  text-align: center;
  background-color: $board-color;
  width: $board;
  padding: 5px;
  position: absolute;
  bottom: 0;
  justify-content: space-around;
  //display: none;

  #player-x-tally,
  #player-o-tally,
  #draw-tally {
    width: 100%;
    // text-align: center;
  }
}
