.cell.x,
.cell.o {
  cursor: not-allowed;
}

.cell.x {
  background-color: $x-color;
}
.cell.o {
  background-color: $o-color;
}

.x::before,
.x::after,
#board.x-turn .cell:not(.x):not(.o):hover::before,
#board.x-turn .cell:not(.x):not(.o):hover::after {
  content: "";
  position: absolute;
  background-color: none;
  width: 15%;
  height: $x-o-size;
  border-radius: 5px;
}

.x::before,
#board.x-turn .cell:not(.x):not(.o):hover::before {
  transform: rotate(-45deg);
}

.x::after,
#board.x-turn .cell:not(.x):not(.o):hover::after {
  transform: rotate(45deg);
}

.x::before,
.x::after,
.o::before {
  background-color: $background-color;
}

#board.x-turn .cell:not(.x):not(.o):hover::before,
#board.x-turn .cell:not(.x):not(.o):hover::after,
#board.o-turn .cell:not(.x):not(.o):hover::before,
#board.o-turn .cell:not(.x):not(.o):hover::after {
  cursor: pointer;
  background-color: $hover;
}

.o::before,
#board.o-turn .cell:not(.x):not(.o):hover::before {
  width: $x-o-size * 0.9;
  height: $x-o-size * 0.9;
}

.o::after {
  background-color: $o-color;
  width: $x-o-size * 0.55;
  height: $x-o-size * 0.55;
}

.o::before,
.o::after,
#board.o-turn .cell:not(.x):not(.o):hover::before,
#board.o-turn .cell:not(.x):not(.o):hover::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

#board.o-turn .cell:not(.x):not(.o):hover::after {
  background-color: $board-color;
  width: $x-o-size * 0.55;
  height: $x-o-size * 0.55;
}

.o-turn::before {
  background-color: none;
  width: $x-o-size * 0.9;
  height: $x-o-size * 0.9;
}

.blocked {
  cursor: not-allowed;
  pointer-events: none;
}
