* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  background-color: #160E37;
  color: white;
}

#title {
  margin-bottom: 15px;
}

#ask-player-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}
#ask-player-container #ask-player-buttons {
  display: flex;
  gap: 15px;
}
#ask-player-container #ask-player-buttons #ask-player-x-button,
#ask-player-container #ask-player-buttons #ask-player-o-button {
  cursor: pointer;
  padding: 10px;
  border: hidden;
  border-radius: 10px;
  color: white;
  font-size: 1.2em;
  font-weight: 800;
}
#ask-player-container #ask-player-buttons #ask-player-x-button:hover,
#ask-player-container #ask-player-buttons #ask-player-o-button:hover {
  color: #160E37;
}
#ask-player-container #ask-player-buttons #ask-player-x-button {
  background-color: #fab951;
}
#ask-player-container #ask-player-buttons #ask-player-o-button {
  background-color: #4ACFA3;
}
#ask-player-container #ask-player-buttons #ask-player-x-button:disabled,
#ask-player-container #ask-player-buttons #ask-player-o-button:disabled {
  cursor: not-allowed;
}

#board {
  width: 80%;
  height: 80%;
  aspect-ratio: 1;
  background-color: #F88DB0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 5px;
}
#board .cell {
  width: 100%;
  height: 100%;
  border: 3px solid #8a2be2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 25px;
}
#board .cell:first-child,
#board .cell:nth-child(2),
#board .cell:nth-child(3) {
  border-top: none;
}
#board .cell:nth-child(3n+1) {
  border-left: none;
}
#board .cell:nth-child(3n+3) {
  border-right: none;
}
#board .cell:last-child,
#board .cell:nth-child(7),
#board .cell:nth-child(8) {
  border-bottom: none;
}

#endgame-container-background {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
}
#endgame-container-background #endgame-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(250, 231, 122);
}
#endgame-container-background #endgame-container #endgame-message {
  text-align: center;
  width: 100%;
  color: #160E37;
}
#endgame-container-background #endgame-container #endgame-button-container {
  display: flex;
  width: 70%;
  gap: 5px;
}
#endgame-container-background #endgame-container #endgame-button-container #endgame-next-game,
#endgame-container-background #endgame-container #endgame-button-container #replay-moves {
  cursor: pointer;
  padding: 5px;
}
#endgame-container-background #endgame-container #endgame-button-container #endgame-next-game {
  width: 100%;
  background-color: #73f553;
}
#endgame-container-background #endgame-container #endgame-button-container #endgame-next-game #endgame-next-game-icon {
  transform: scale(1.5);
}
#endgame-container-background #endgame-container #endgame-button-container #endgame-next-game:hover > #endgame-next-game-icon {
  transform: scale(2);
}
#endgame-container-background #endgame-container #endgame-button-container #replay-moves {
  width: 50%;
  background-color: #beb9f3;
}
#endgame-container-background #endgame-container #endgame-button-container #replay-moves:hover > #replay-moves-icon {
  transform: scale(1.3);
}

#board-status-div {
  display: flex;
  align-items: baseline;
  gap: 8px;
  visibility: hidden;
}
#board-status-div #player-turn-span {
  font-size: larger;
  font-weight: 500;
  text-decoration: underline;
  color: white;
}

#scores-tally {
  display: flex;
  gap: 40px;
  text-align: center;
  background-color: #F88DB0;
  width: 80%;
  padding: 5px;
  position: absolute;
  bottom: 0;
  justify-content: space-around;
}
#scores-tally #player-x-tally,
#scores-tally #player-o-tally,
#scores-tally #draw-tally {
  width: 100%;
}

.cell.x,
.cell.o {
  cursor: not-allowed;
}

.cell.x {
  background-color: #fab951;
}

.cell.o {
  background-color: #4ACFA3;
}

.x::before,
.x::after,
#board.x-turn .cell:not(.x):not(.o):hover::before,
#board.x-turn .cell:not(.x):not(.o):hover::after {
  content: "";
  position: absolute;
  background-color: none;
  width: 15%;
  height: 80%;
  border-radius: 5px;
}

.x::before,
.x::after,
.o::before {
  background-color: #160E37;
}

.x::before,
#board.x-turn .cell:not(.x):not(.o):hover::before {
  transform: rotate(-45deg);
}

.x::after,
#board.x-turn .cell:not(.x):not(.o):hover::after {
  transform: rotate(45deg);
}

#board.x-turn .cell:not(.x):not(.o):hover::before,
#board.x-turn .cell:not(.x):not(.o):hover::after,
#board.o-turn .cell:not(.x):not(.o):hover::before,
#board.o-turn .cell:not(.x):not(.o):hover::after {
  cursor: pointer;
  background-color: rgb(199, 178, 153);
}

.o::before,
.o::after,
#board.o-turn .cell:not(.x):not(.o):hover::before,
#board.o-turn .cell:not(.x):not(.o):hover::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.o::before,
#board.o-turn .cell:not(.x):not(.o):hover::before {
  width: 72%;
  height: 72%;
}

#board.o-turn .cell:not(.x):not(.o):hover::after {
  background-color: #F88DB0;
  width: 44%;
  height: 44%;
}

.o-turn::before {
  background-color: none;
  width: 72%;
  height: 72%;
}

.o::after {
  background-color: #4ACFA3;
  width: 44%;
  height: 44%;
}

.block-cells {
  cursor: not-allowed;
}

#history-and-next-game-container {
  display: grid;
  margin-top: 10px;
  width: 80%;
  grid-template-columns: repeat(3, 1fr);
}
#history-and-next-game-container #history-buttons {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-areas: "previous next";
  width: 60%;
  gap: 15px;
  visibility: hidden;
}
#history-and-next-game-container #history-buttons #previous-button,
#history-and-next-game-container #history-buttons #next-button {
  color: #160E37;
  background-color: #beb9f3;
  transform: scale(1.2);
  text-align: center;
  padding: 2px;
  border-radius: 5px;
}
#history-and-next-game-container #history-buttons #previous-button:hover,
#history-and-next-game-container #history-buttons #next-button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 0px 0 white;
}
#history-and-next-game-container #restart {
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 100px;
  cursor: pointer;
  height: 100%;
  background-color: #f4568b;
  border-radius: 5px;
  border: hidden #fbcccc;
  color: white;
}
#history-and-next-game-container #restart:hover {
  box-shadow: 1px 1px 0px 0 white;
}
#history-and-next-game-container #next-game {
  margin-left: auto;
  width: 100px;
  height: 100%;
  background-color: #73f553;
  border-radius: 5px;
  border: hidden #6ad6b2;
  color: #160E37;
  visibility: hidden;
}
#history-and-next-game-container #next-game:hover {
  cursor: pointer;
  box-shadow: 1px 1px 0px 0 white;
}/*# sourceMappingURL=styles.css.map */